body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/home.jpg");
    background-color: #7d9f03;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: center;
    background-position-y: center;
}